/*
    -- Basic --
*/

:root{
    --purple: #5957F8;
    --dark-blue : #060047;
    --green : #16CB69;
    --black : #2A2D53;
}

*{
    padding:0;
    margin:0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body {
    position: relative;
    font-family: IRANYekanBold, sans-serif;
    font-size: 1.6rem;
    direction: rtl;
    background-color: #E5E5F7;
}

a{
    text-decoration: none;
    color: var(--dark-blue);
}

::-webkit-scrollbar{
    -webkit-appearance: none;
     width: .8rem;
}
::-webkit-scrollbar-track{
    background: rgba(93, 86, 86, 0.39);
    border: 1px solid #ccc;
    border-radius: 1rem;
}
::-webkit-scrollbar-thumb{
    background: #1a6ea8;
    height: 5rem;
    border-radius: 1rem;
}

.cover{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.3);
    transition: .3s opacity;
    opacity: 0;
}

/*
    Helper Class
*/

.align-items-center {
    align-items: center;
}

.pos-r{
    position: relative;
}

.btn{
    color: #fff;
    background-color: var(--purple);
    padding: 2rem 3rem;
    display: inline-block;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--purple);
    text-align: center;
}

.purple{
    color: var(--purple);
}

.green{
    color: var(--green) !important;
    text-shadow: .5rem .5rem 1rem rgba(22, 203, 105, 0.3) !important;
}

.mt-1{
    margin-top: 1rem;
}

.mt-2{
    margin-top: 2.5rem;
}

.mt-3{
    margin-top: 3rem;
}

.glow{
    color: #fff;
    text-shadow: 0 0 .5rem #ffffff5e;
}

.bg-tans{
    background-color: transparent!important;
}

.bg-green{
    background-color: #37CA8C !important;
    box-shadow: 0 0 0.5rem #37CA8C !important;
}

.border-bottom{
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.visibility{
    visibility: hidden;
}
/*
    -- Header --
*/

.header{
    margin-top: 2rem;
}

/*
    Header Logo
*/

.header-logo{
    display: flex;
    align-items: center;
}

.header-logo__img{
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 1.5rem;
    background-color: var(--purple);
    box-shadow: 0 0 .5rem var(--purple);
}

.header-logo__text-wrapper{
    margin-right: 1.5rem;
}

.header-logo__text{
    color: var(--purple);
    font-size: 3rem;
    text-shadow: 0 0 .3rem var(--purple);

}

.header-logo__sub-text{
    display: block;
    margin: .5rem;
    font-size: 1.3rem;
    font-family: IRANYekanFNSemiBold,sans-serif;
    color: var(--dark-blue);
}

/*
    Header Menu
*/

.header__mobile-menu-wrapper{

}

.header-mobile__logo{
    display: none;
}

.header-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.header-menu__item{
    position: relative;
    transition: .5s all;
}

.header-menu__item::before,.header-menu__item::after{
    position: absolute;
    content: '';
    bottom: -0.6rem;
    width: 1%;
    visibility: hidden;
    height: 2px;
    border-radius: .5rem;
    background-color: #5957F8;
    transition: .3s all;
}
.header-menu__item::after{
    right: 0;
}
.header-menu__item::before{
    left: 0;
}
.header-menu__item:hover::after,.header-menu__item:hover::before{
    width: 51%;
    visibility: visible;
    transition: .3s all;
}


.header-menu__link{
    transition: .5s;
}

/*
    Header Btn
*/

.header__toggle{
    display: none;
    justify-content: end;
    position: absolute;
    left: 0;
    margin-left: 1.5rem;
}

.header__line{
    position: relative;
    display: block;
    width: 3.5rem;
    height: .4rem;
    background-color: var(--purple);
    border-radius: 1rem;
}
.header__line::before,.header__line::after{
    position: absolute;
    content: '';
    width: 3.5rem;
    height: .4rem;
    background-color: var(--purple);
    border-radius: 1rem;
}
.header__line::before{
    top: 1rem;
}
.header__line::after{
    bottom: 1rem;
}

.header-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.header-btn__login{
    padding: 1rem 3rem;
    background-color: rgba(6, 0, 71, 0.05);
    border-radius: 1.5rem;
    display: inline-block;
}

.header-btn__logo{

}

.header-btn__create {
    padding: 1.7rem 2rem;
}

/*
   Mobile Btn
*/

.header-btn--mobile{
    display: none;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-left: 4rem;
}

.mobile-btn__login{
    padding: 1rem 1.5rem;
    background-color: rgba(6, 0, 71, 0.05);
    border-radius: 1.5rem;
    display: inline-block;
    margin-left: 3rem;
}

.mobile-btn__create{
    font-size: 1.1rem;
}

.header-logo__content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-btn__login-user{
    padding: 1.1rem 3rem;
    background-color: rgba(6, 0, 71, 0.05);
    border-radius: 1.5rem;
    display: inline-block;
}

.header-mobile__social{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 2rem 2rem;
    display: flex;
    gap: 1rem;
}

.mobile-btn__social:first-child{
    background-color: #1493DF;
    box-shadow: 0 0 1rem #1493DF!important;
    margin-left: .5rem;
}

.header-mobile__social{
    display: none;
}

.mobile-btn__social{
    padding: 1rem 1.7rem;
    background-color: #21C47F;
    border-radius: 2rem;
    display: inline-block;
    box-shadow: 0 0 1rem #21C47F;
}

.telegram__icon{
    scale: 1.8;
}




/*
    -- Main --
*/

.main{

}

/*
   ** Hero Section **
*/

.hero-section{

}

.hero-section__content{
    margin-top: 1rem;
}

.hero-section__title{
    font-size: 6rem;
    color: var(--dark-blue);
    line-height: 1.2;
}

.hero-section__sub-title{
    font-size: 3rem;
    color: var(--dark-blue);
    margin: 1.5rem 0;
    line-height: 1.3;
}

.hero-section__description{
    color: rgba(6, 0, 71, 0.4);
    font-size: 1.4rem;
    max-width: 52rem;
    line-height: 1.5;
    padding-bottom: 3rem;
    border-bottom: 1px solid rgba(28, 9, 65, 0.1);
}

.hero-section__buttons{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.hero-section__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s all;
    padding: 1.7rem 2rem !important;
}

.hero-section__btn:hover{
    box-shadow: 0 0 1.3rem #1e63a6!important;
    transition: .5s all;
}

.hero-section__btn-text{
    margin-right: .8rem;
}

.hero-section__btn:last-child{
    background-color: #ffffff;
    color: var(--dark-blue);
    box-shadow: 0 0 .5rem #ddd;
}

.hero-section__img-wrapper{
    position: relative;
}

.hero-section__img{
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../image/hero/happyMan.webp");
    width: 100%;
    height: 50rem;
}

.hero-section__object{
    position: absolute;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    font-size: 1.4rem;
    width: 16rem;
    height: 6rem;
    background-color: white;
    border-radius: 5rem;
    border: 1px solid #5772f89e;
    padding: 0 1.5rem;
    box-shadow: 0 0 1rem #57c4f8;
}

.hero-section__object-animation{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}
.object-right{
    top: 28%;
    right: 15%;
}
.object-left{
    left: 16%;
    bottom: 26%;
}


/*
    feature Section
*/

.feature-section{
    margin-top: 2rem;
}

.feature-section__title{
    font-size: 4rem;
    text-align: center;
    display: block;
    line-height: 1.4;
    margin-top: 1rem;
    margin-bottom: 5rem;
}

.star{
    margin-bottom: 3rem;
}

.feature-section__wrapper {
    width: 100%;
    max-width: 1536px;
    margin-inline: auto;
    height: 22rem;
    position: relative;
    overflow: hidden;
    mask-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 1) 20%,
            rgba(0, 0, 0, 1) 80%,
            rgba(0, 0, 0, 0)
    );
}

@keyframes scrollLeft {
    to {
        left: -20rem;
    }
}

@keyframes scrollRight {
    to {
        right: -20rem;
    }
}

.feature-section__itemLeft,
.feature-section__itemRight {
    width: 18rem;
    height: 100%;
    background-color: #fff;
    border-radius: 4rem;
    position: absolute;
    animation-timing-function: linear;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.feature-section__item-icon{
    margin-bottom: 6rem;
    border-radius: 3rem;
}

.feature-section__item-title{
    color: var(--dark-blue);
    margin-top: -5rem;
}

.feature-section__item-sub-title{
    font-size: 1rem;
    opacity: 0.5;
}

.feature-section__itemLeft {
    left: max(calc(18rem * 7), 100%);
    animation-name: scrollLeft;
}

.feature-section__itemRight {
    right: max(calc(18rem * 7), calc(100% + 18rem));
    animation-name: scrollRight;
}

.feature-section__item1 {
    animation-delay: calc(30s / 7 * (7 - 1) * -1);
}

.feature-section__item2 {
    animation-delay: calc(30s / 7 * (7 - 2) * -1);
}

.feature-section__item3 {
    animation-delay: calc(30s / 7 * (7 - 3) * -1);
}

.feature-section__item4 {
    animation-delay: calc(30s / 7 * (7 - 4) * -1);
}

.feature-section__item5 {
    animation-delay: calc(30s / 7 * (7 - 5) * -1);
}

.feature-section__item6 {
    animation-delay: calc(30s / 7 * (7 - 6) * -1);
}

.feature-section__item7 {
    animation-delay: calc(30s / 7 * (7 - 7) * -1);
}

/*
    Plans Section
*/

.plans-section{
    position: relative;
    background-image: url("../image/plans/BG-BLUE.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 20rem 0;
    padding-top: 5rem;
    height: 80rem;
}

.plans-main{
    position: relative;

}

#swiper-container1 .swiper-wrapper{
    margin-top: 6rem;
    margin-bottom: 4rem;
}

.plans-head{
    text-align: center;
    padding-bottom: 7rem;
}

.plans__title{
    margin: 1.5rem 0;
    color: rgba(255, 255, 255, 0.8);
    font-size: 3rem;
}

.plans__subtitle{
    color: rgba(255, 255, 255, 0.6);
}

.plans__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7rem 0;
}

.swiper-button-prev,.swiper-button-next{
    top: 43% !important;
}

#swiper-container1 .swiper-button-next{
    left: -1.6rem !important;
}
#swiper-container1 .swiper-button-prev{
    right: -1.6rem !important;
}

.plans-item{
    border-radius: 2rem;
    background-color: #fff;
    padding: 2rem;
    width: 100%;
}

.plans-suggestion{
    position: absolute;
    left: 0;
    right: 0;
    top: -6rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    background-color: #37CA8C;
    padding: 3rem;
    box-shadow: 0 5rem 10rem #37CA8C;
}

.plans-suggestion__text{
    text-align: center;
    color: #fff;
}


.plans-item__type{
    position: relative;
    text-align: center;
    padding: 2rem 2rem 4rem 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.plans-item__fantasy-emoji {
    position: absolute;
    fill: rgba(6, 0, 71, 0.08);
}

.plans-item__fantasy-emoji:nth-child(1){
    top: 2rem;
    left: 3rem;
}
.plans-item__fantasy-emoji:nth-child(2){
    top: 2rem;
    right: 2rem;
}
.plans-item__fantasy-emoji:nth-child(3){
    bottom: 2rem;
    left: 2rem;
}
.plans-item__fantasy-emoji:nth-child(4){
    bottom: 2rem;
    right: 3rem;
    transform: rotate(-30deg);
}

.plans-item__subtitle{
    font-size: 1.4rem;
    color: rgba(2, 0, 86, 0.58);
}

.plans-item__name{
    font-size: 3.5rem;
    margin-top: .8rem;
    color: #020056;
    text-shadow: .5rem .5rem 1rem rgba(11, 8, 132, 0.32);
}

.plans-item__price{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}

.plans-item__time{
    color: #060047;
    font-size: 1.8rem;
}

.plans-item__price-wrapper{
    display: flex;
    align-items: center;
    color: #020056;
}

.plans-item__price-text{
    font-size: 4rem;
    text-shadow: .5rem .5rem 1rem rgba(11, 8, 132, 0.32);
}

.plans-item__currency{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .2rem;
    margin-right: .5rem;
    font-size: 1.4rem;
}

.plans-item__currency-text1{

}

.plans-item__currency-text2{

}

.plans-item__feature{

}

.plans-item__feature-item{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 3rem;
    margin-right: 3rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid rgb(84 81 81 / 7%);
}

.plans-item__feature-item:last-child{
    border-bottom: none;
}

.plans-item__feature-check{

}

.plans-item__feature-text{

}

.plans-item__btn{
    position: absolute;
    display: block;
    width: 15rem;
    height: 6rem;
    line-height: 6rem;
    border-radius: 2rem;
    text-align: center;
    color: #ffffff;
    background: #5957F8;
    top: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    box-shadow: 0 0 1rem #5957F8;
}

.swiper-pagination{
    bottom: -3rem !important;
}
/*
    Partner Section
*/

.partner-section{
    margin-top: 75rem;
}

.partner-section__title{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 5rem;
}

/*  Comment Section    */

.comment-section{
    position: relative;
    border-bottom-left-radius: 15rem;
    border-bottom-right-radius: 15rem;
    background: url("../image/comment/BG-GREEN.webp");
    height: 72rem;
    padding-bottom: 10rem;
}

.comment-wrapper{

}

.comment__header{
    margin-top: 20rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comment__title{
    font-size: 3.5rem;
    color: #fff;
}

.comment__subtitle{
    color: #fff;
}

.comment__slider{
    position: absolute;
    left: 7rem;
    right: 7rem;
    top: 42rem;
}

.comment-item{
    background-color: #fff;
    border-radius: 2rem;
    padding: 3rem;
    max-width: 63rem;
    user-select: none;
}

.comment-item__head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comment-item__Specifications{
    display: flex;
    align-items: center;
}

.comment-item__pic{

}

.comment-item__texts{
    margin-right: 1rem;
}

.comment-item__name{
    color:var(--black);
}

.comment-item__post{
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.37);
    margin-top: 1rem;
}

.comment-item__stars{

}

.comment__star{
    
}

.comment-bottom{
    margin-top: 2rem;
    border-top: 1px solid rgba(0, 0, 0, 0.14);
}

.comment__description{
    color: #020056;
    margin-top: 2rem;
    line-height: 1.8;
}

.swiper{
    position: static !important;
}

.swiper-button-next,.swiper-button-prev{
    width: 5rem !important;
    height: 5rem !important;
    background-color: #fff !important;
    padding: 2rem !important;
    border-radius: 50% !important;
    border: 1px solid #00000021 !important;
    color: #000 !important;
}

.swiper-button-next::after,.swiper-button-prev::after{
    font-size: 3rem !important;
}

#swiper-container2 > .swiper-button-next{
    left: -2rem !important;
}

#swiper-container2 > .swiper-button-prev{
    right: -2rem !important;
}

#swiper-container2 > .swiper-button-prev,#swiper-container2 >.swiper-button-next{
    top: 55% !important;
}

/*   Description Section  */

.description-section{
    margin-top: 15rem;
    color: var(--dark-blue);
}

.description-title-wrapper{
    display: flex;
    align-items: center;
}

.description__title{
    margin-right: 2rem;
}

.description__title-text{
    font-size: 3.5rem;
}

.description__sub-title{
    display: block;
    margin-top: 1rem;
}

.description__text{
    color: rgba(0, 0, 0, 0.55);
    line-height: 2;
    margin-top: 1.5rem;
}

.description__cup-icon {

}

.description__video{
    width: 100%;
    box-shadow: 0 0 1.3rem 0 rgba(6, 0, 71, 0.68);
    border-radius: 3rem;
}

.description__under-text{
    color: rgba(0, 0, 0, 0.55);
    line-height: 2;
}

/*  FAQ Section    */

.faq-section{
    margin-top: 10rem;
    color: var(--dark-blue);
}

.faq__title{
    text-align: center;
    font-size: 3.5rem;
}

.faq-wrapper{
    margin-top: 5rem;
}

.faq__item{
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 2rem;
    width: 100%;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    margin-bottom: 2rem;
}

.faq-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.faq__content{
    display: flex;
    align-items: center;
}

.faq-question__icon{

}

.faq-question{
    margin-right: 2rem;
    font-size: 2rem;
    line-height: 1.5;
    margin-left: 1rem;
}

.faq-arrow{
    transition: .4s all;
}

.faq__arrow--active{
    transform: rotate(180deg);
    transition: .4s all;
}

.faq-bottom{
    max-height: 0;
    overflow: hidden;
    transition: .4s all;
}

.faq-active{
        margin-top: 2rem;
        padding-top: 2rem;
        padding-bottom: 8rem;
        border-top: 1px solid rgba(0, 0, 0, 0.33);
        max-height: 8.5rem;
        overflow: hidden;
        transition: .4s all;
        animation: fade .8s ease-in-out;
}

.faq-description{
    line-height: 1.8;
}

@keyframes fade {
    from{
        opacity: 0;
        transform: translateY(-1rem);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

/*   Wave Section   */

.wave-section{
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 20rem;
}

.wave__item{
    position: absolute;
    bottom : 0;
    left: 0;
    width: 100%;
    height: 10rem;
    background: url("../image/footer/wave.webp");
    background-size: 100rem 10rem;
}
.wave__item-1{
    animation: animate 20s linear infinite;
    z-index: 90;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}
.wave__item-2{
    animation: animate2 15s linear infinite;
    z-index: 89;
    opacity: 0.8;
    animation-delay: -5s;
    bottom: 1rem;
}
.wave__item-3{
    animation: animate2 10s linear infinite;
    z-index: 88;
    opacity: 0.6;
    animation-delay: -2s;
    bottom: 1.5rem;
}
.wave__item-4{
    animation: animate2 5s linear infinite;
    z-index: 87;
    opacity: 0.4;
    animation-delay: -5s;
    bottom: 2rem;
}
@keyframes animate {
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: 100rem;
    }

}
@keyframes animate2 {
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: -100rem;
    }

}

/*  Footer    */

.footer{
    width: 100%;
    background-color: #0B0884;
    padding-top: 3rem;
}


.footer .header-logo{

}

.footer .header-logo__img{
    box-shadow: 0 0 1rem #ffffff5e;
}

.footer .header-logo__text{
    color: #ffffff;
    text-shadow: 0 0 1rem #ffffff5e;
}

.footer .header-logo__sub-text{
    color: rgba(255, 255, 255, 0.49);
}

.footer .header-menu{

}

.footer .header-menu__link{
    color: #ffffff;
}

.footer .header-menu__item::before,.footer .header-menu__item::after{
    display: none;
}

.footer .header-menu__link:hover{
    font-size: 1.8rem;
    transition: .5s;
}

.footer-social{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.footer-social-mobile{
    display: none;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 2.5rem;
}

.footer-social__link{
    background-color: rgba(255, 255, 255, 0.1);
    padding: 1rem;
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s all ease-in;
}

.footer-social__icon{

}

.footer__description{
    font-size: 1.3rem;
    line-height: 1.5;
    text-shadow: 0 0 .5rem #ffffff5e;
    color: #fff;
    max-width: 61rem;
}

.footer-copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 1rem;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 1rem 1.5rem;
    border-radius: 4rem;
    max-width: 50rem;;
}

.footer-copyright-mobile{
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 1rem;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 1rem 1.5rem;
    border-radius: 4rem;
    max-width: 50rem;
}

.footer-copyright__text{
    font-size: 1.2rem;
    font-family: IRANYekanFNSemiBold, sans-serif;
    color: rgba(255, 255, 255, 0.31);
    line-height: 1.3;
}

.footer-copyright__icon{

}

.footer-pay{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.footer-pay-item{

}

.footer-pay__img{

}






