@media (max-width: 1400px) {

}

@media (max-width: 1200px) {
    /* Hero Section */
    .hero-section__title{
        font-size: 5rem;
    }
    .hero-section__sub-title{
        font-size: 2.7rem;
    }
    .hero-section__object{
        font-size: 1rem;
        width: 14rem;
        height: 5rem;
    }
}

@media (max-width: 992px) {
    /* Header */
    .header-btn__create{
        display: none;
    }
    .header-btn{
        justify-content: end;
    }
    /* Hero Section */
    .hero-section__btn{
        padding: 1.5rem 2.5rem;
    }
    .hero-section__btn-text{
        font-size: 11px;
    }

    .object-right{
        top: 30%;
        right: auto;
    }
    .object-left{
        left: 0%;
        bottom: 26%;
    }
    .hero-section__title{
        font-size: 6rem;
    }
    .hero-section__sub-title{
        font-size: 3rem;
    }
    /*  feature section  */
    .feature-section__title{
        font-size: 3rem;
    }
}

@media (max-width: 768px) {
    /* Header */
    .header-btn{
        display: none;
    }
    .header__toggle{
        display: flex;
        margin-top: -.8rem;
    }
    .header__mobile-menu-wrapper{
        position: fixed;
        right: -31.8rem;
        top: 0;
        bottom: 0;
        padding: 3rem 5rem 3rem 0;
        background-color: #fff;
        transition: .2s all ease-in;
        z-index: 100;
    }
    .header-menu{
        flex-direction: column;
        align-items: normal;
        margin: 6rem 0;
        gap: 5rem;
    }
    .header-mobile__logo{
        display: block;
    }
    .header-btn--mobile{
        display: flex;
    }
    .header-menu__item{
        display: block;
        border-bottom: 1px solid rgba(39, 38, 87, 0.2);
        padding-bottom: 3rem;
        margin-left: 3rem;
    }
    .header-mobile__social{
        display: block;
    }
    .header-menu__item::after,.header-menu__item::before{
        display: none;
    }
    .header-logo{
        justify-content: space-between;
    }
    /* Hero Section */
    .hero-section__title{
        font-size: 5.7rem;
    }
    .hero-section__title,.hero-section__sub-title,.hero-section__description{
        text-align: center;
    }
    .hero-section__buttons{
        justify-content: center;
    }
    .hero-section__img{

    }
    .object-right{
        top: 29%;
        right: 10%;
    }
    .object-left{
        left: 5%;
        bottom: 26%;
    }
    /*  feature section  */
    .feature-section__title{
        font-size: 2.2rem;
    }
}

@media (max-width: 576px) {
    .star{
        display: none;
    }
}

@media (max-width: 412px) {
    .object-right{
        right: 0;
    }
    .object-left{
        left: 0;
    }
    .hero-section__object{
        width: 13rem;
        height: 4rem;
    }
    .hero-section__object-animation{
        width: 3rem;
        height: 3rem;
    }
}


@media (max-width: 360px) {
    .hero-section__btn-text{
        font-size: .8rem;
    }
}

@media (max-width: 343px) {
    .hero-section__img{
        height: 45rem;
    }
}









